.container{
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-size: cover;
	animation: infinite changes 20s ease-in-out;
}

@keyframes changes {
	0% {
			background-image: url(/images/1piece.jpg);
	}
	25% {
			background-image: url(/images/black-clover.jpg);
	}
	50% {
			background-image: url(/images/demon.jpg);
	}
	75% {
			background-image: url(/images/hunter-x.jpg);
	}
	100% {
			background-image: url(/images/naruto.jpg);
	}
}

.outer{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
}

.text-info {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.main-h3, 
.main-h1,
.main-paragraph {
	height: 0;
	font-family: "Poppins", sans-serif;
}

.main-h3{
	font-size: 18px;
	font-weight: 500;
	color: white;
}

.main-h1 {
	font-size: 40px;
	margin-bottom: 55px;
	color: #e0b743;
	margin-top: 20px;
}

.main-paragraph {
	width: 430px;
	color: white;
	font-family: "Roboto", sans-serif;
}

.main-buttons {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -70%);
	margin: 0 auto;
	text-align: center;
}

.top-anime-button,
.explore-button {
	text-decoration: none;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
}

.top-anime-button {
	color: #e0b743;
	border-style: solid;
	border-width: 1px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 20px;
	margin-right: 10px;
	transition: background-color 0.15s, color 0.15s, border-color 0.15s;
}

.top-anime-button:hover {
	background-color: #e0b743;
	color: white;
	border-color: #e0b743;
}

.explore-button {
  background-color: #e0b743;
  border-style: solid;
  border-width: 1px;
  border-color: #e0b743;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.explore-arrow {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.explore-button:hover {
  background-color: #c7a036;
}

.explore-button:hover .explore-arrow {
  transform: translateX(5px); 
}

.top-anime-container{
	display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
	padding-top: 40px;
}

.top-anime-section-css{
	background-color: rgb(24, 32, 48);
  position: relative;
}

.top-text-div{
  text-align: center;
}

.h1-top-five{
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  height: 0;
}

.h3-top-five{
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: rgb(116, 43, 1);
  height: 0;
  margin-top: 60px;
}

.card-wrapper{
  margin: 100px 0 0 200px;
  width: 70%;
  height: 450px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 70px;
}

.card-wrapper img {
  width: 10%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid rgb(207, 167, 108);
  transition: all ease-in-out 0.5s;
	cursor: pointer;
}

.card-wrapper img:hover{
  width: 25%;
  
}

.explore-section-css {
	background-color: rgb(24, 32, 48);
	position: relative;
	padding-top: 10px;
	padding-bottom: 30px;
	height: auto;
}

.explore-section-container {
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 80px;
}

.heading{
	text-align: center;
	font-size: 50px;
	line-height: 50px;
}

.logo-container{
	text-align: left; 
  margin-top: 10px; 
	margin-left: 50px;
  margin-right: 50px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 0;
}

.list{
	list-style-type: none;
	display: flex;
}

.logo {
	width: 150px;      
	height: auto; 
	border-radius: 50px;     
}

.search-container{
	margin-top: 60px;
	position: relative;
}

.search-container input{
  width: 350px;
	font-size: 13px;
	padding: 10px 20px;
  border-radius: 25px;
	border: none;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	transition: 0.4s ease-in-out;
}

.search-container input:focus{
	width: 450px;
}

.search-container i{
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	color: #555;
	cursor: pointer;

}
.anime-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	column-gap: 15px;
	row-gap: 40px;
	margin-top: 20px;
	margin-left: 25px;
	margin-right: 25px;
}

.anime-card {
	background-color: rgb(185, 200, 250);
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	transition: transform 0.15s;
}

.hide {
	display: none;
}


.anime-card:hover {
	transform: scale(1.1);
}


.anime-thumbnail {
	width: 100%;
	height: 150px;
	display: block;
}


anime-info-grid {
	display: grid;
	grid-template-rows: 20px 1fr;
}

.animer-info-title {
	margin-top: 0;
	font-size: 15px;
	font-weight: bold;
	line-height: 20px;
}

.anime-info-description {
	margin-top: 0;
	font-size: 12px;
	background-color: rgb(185, 200, 250);
	color: black;
}

.footer{
	width: 100%;
	padding: 70px 30px 20px;
}

.social_icons{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-top: 50px;
}

.social_icons a{
	text-decoration: none;
	height: 50px;
	width: 50px;
	background-color: rgb(2, 51, 59);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.social_icons a i{
	font-size: 1.5em;
	color: white;
	opacity: 0.9;
}

.social_icons a:hover{
	background-color: #9b7d93;
	transition: 0.5s;
}

.social_icons a:hover i{
	color: rgb(4, 30, 41);
	transition: 0.5s;
	
}

.footer_nav{
	margin: 30px 0;
}

.footer_nav ul{
	display: flex;
	justify-content: center;
	list-style-type: none;
}

.footer_nav ul li a{
	color: beige;
	margin: 20px;
	text-decoration: none;
	font-size: 1.3em;
	opacity: 0.7;
	transition: 0.5s;
}

.footer_nav ul li a:hover{
	opacity: 1;
}

.footer_bottom{
	background-color: #77829233;
	padding: 20px;
	text-align: center;
	font-size:14px;
	color: white;
}

.footer_bottom a {
	color: blueviolet;
}






